<div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
        <form #tiposMovimientoForm="ngForm" (submit)="save(tiposMovimiento);" ngNativeValidate>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="codigoInput">Codigo:</label>
                <input type="text" class="form-control"  #codigoInput id="codigo" [value]="tiposMovimiento.codigo" (change)="tiposMovimiento.codigo = codigoInput.value" placeholder="Codigo ..." required>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label for="descripcionInput">Descripcion:</label>
                <input type="text" class="form-control"  #descripcionInput id="descripcion" [value]="tiposMovimiento.descripcion" (change)="tiposMovimiento.descripcion = descripcionInput.value" placeholder="Descripcion ..." required>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label for="clasificacionInput">Clasificacion:</label>
                <input type="text" class="form-control"  #clasificacionInput id="clasificacion" [value]="tiposMovimiento.clasificacion" (change)="tiposMovimiento.clasificacion = clasificacionInput.value" placeholder="Clasificacion ..." required>
              </div>
            </div>
  
   
          </div>  
          <div  class="container-fluid text-center">
            <a class="btn btn-app" routerLink="/admin/tipos-movimiento">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-app"><i class="fa fa-save"></i>Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
