<div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
        <form #entradaForm="ngForm" (submit)="save(entrada);" ngNativeValidate>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="fechaInput">Fecha:</label>
                <input type="date" class="form-control"  #fechaInput id="fecha" [value]="entrada.fecha" (change)="entrada.fecha = fechaInput.value" placeholder="Fecha ..." required>
              </div>
            </div>
  
   
          </div>  
          <div  class="container-fluid text-center">
            <a class="btn btn-app" routerLink="/admin/entradas">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-app"><i class="fa fa-save"></i>Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
