
<!-- <div class="mat-elevation-z8"> -->
  <p-table [columns]="cols" [value]="Categorias" emptyMessage="No hay Categorias" [scrollable]="true" scrollHeight="{{height}}"
  [responsive]="true" [rows]="20" [paginator]="true" (onPageChange)="paginate($event)" selectionMode="single" [(selection)]="selectedDepartment" (onRowSelect)="onRowSelect($event)" #dt>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input type="text" pInputText size="50" placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')"
      style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
    <button type="button" pButton icon="fa fa-refresh" iconPos="left" label="Refrescar" (click)="get()" style="float:left"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
    <th *ngFor="let col of columns">{{col.header}}</th>
    <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-renglon let-columns="columns">
    <tr [pSelectableRow]="renglon">
    <td *ngFor="let col of columns">
      {{_service.resolveFieldData(renglon, col.field)}}
    </td>
    <td>
      <div class="text-center">
        <button pButton type="button" icon="fa fa-pencil-square-o" label="Editar" class="ui-button-secondary"iconPos="left"></button>
        <button pButton type="button" icon="fa fa-trash-o" label="Eliminar" class="ui-button-secondary"iconPos="left"></button>
      </div>
    </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" routerLink="nuevo" routerLinkActive="active" label="Nuevo"></button>
    </div>
  </ng-template>
</p-table>
<!-- </div> -->

