<div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
        <form #empresaForm="ngForm" (submit)="save(empresa);" ngNativeValidate>
          <div class="row">
   
          </div>  
          <div  class="container-fluid text-center">
            <a class="btn btn-app" routerLink="/admin/empresas">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-app"><i class="fa fa-save"></i>Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
