 

<div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
        <form #almacenForm="ngForm" (submit)="save(almacen);" ngNativeValidate>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="codigoInput">Codigo:</label>
                <input type="text" class="form-control"  #codigoInput id="codigo" [value]="almacen.codigo" (change)="almacen.codigo = codigoInput.value" placeholder="Codigo ..." required>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label for="valorMinInput">Valor Minimo:</label>
                <input type="number" class="form-control"  #valorMinInput step="any" id="valorMin" [value]="almacen.valorMin" (change)="almacen.valorMin = valorMinInput.value" placeholder="Valor Minimo ..." required>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label for="valorMaxInput">Valor Maximo:</label>
                <input type="number" class="form-control"  #valorMaxInput step="any" id="valorMax" [value]="almacen.valorMax" (change)="almacen.valorMax = valorMaxInput.value" placeholder="Valor Maximo ..." required>
              </div>
            </div>
  
   
          </div>  
          <div  class="container-fluid text-center">
            <a class="btn btn-app" routerLink="/admin/almacenes">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-app"><i class="fa fa-save"></i>Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
